<%- include('../partials/header.ejs') %>
<main class="container">
    <h1 class="my-4">Tweeta - Dashboard</h1>
        <form method="POST" action="/post/create">
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="What are you up to?" name = "text" rows="3"></textarea>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </div>
        </form>
        
    <div>
        <h1>Posts</h1>
        <hr>
        <% posts.forEach((post) => { %>
         
            <div class="card" style="width: 36rem;">
                <div class="card-body">
            <p class="card-text"><%= post.text %> </p>
            <a href="<%= post.photo %> " class="card-link">Photo</a>
            <p class="card-link"><%= post.user.username %> </p>
            </div>
        </div>
        <% }) %>
    </div>
</main>

  <%- include('../partials/footer.ejs') %>